@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Bold.woff") format("woff"),
    url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Archivo-Regular";
  src: url("../fonts/Archivo-Regular.woff2") format("woff2"),
    url("../fonts/Archivo-Regular.woff") format("woff"),
    url("../fonts/Archivo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: "ClashDisplay-Bold";
}

body {
  font-family: "Archivo-Regular";
}
