<nav class="text-white text-xl py-5 shadow-md border-b border-white">
  <div class="max-w-6xl mx-auto px-10 container flex items-center">
    <h1 class="text-4xl text-color-2">
      <a href="/">G-Animate.</a>
    </h1>
    <ul class="ml-auto flex items-center gap-8 font-bold">
      <li>
        <a class="transition-colors duration-300 hover:text-color-2" href="/"
          >Home</a
        >
      </li>
      <li>
        <a
          class="transition-colors duration-300 hover:text-color-2"
          href="#about">Docs</a
        >
      </li>
      <li>
        <a
          class="transition-colors duration-300 hover:text-color-2"
          href="#contact">Guides</a
        >
      </li>
      <li>
        <a
          class="transition-colors duration-300 hover:text-color-2"
          href="/blog">Blog</a
        >
      </li>
    </ul>
  </div>
</nav>
